<% if notice %>
  <div id="notice", class="alert alert-dismissible fade show", role="alert">
    <p><%= notice %></p>
    <a href data-bs-dismiss="alert" aria-label="Close" style="text-decoration: none">
      x
    </a>
  </div>
<% end %>

<h1><%= Coin.model_name.human(count: @coins.count) %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= @coins.human_attribute_name(:url_image)%></th>
      <th><%= @coins.human_attribute_name(:description)%></th>
      <th><%= @coins.human_attribute_name(:acronym)%></th>
      <th colspan="3"><%= link_to t('links.new_coin'), new_coin_path, class: "btn btn-primary" %></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= image_tag coin.url_image, width: 30 %></td>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
